name: Test
on:
  push:
  pull_request:

jobs:
  client:
    name: Client
    runs-on: ubuntu-latest
    steps:
      - name: Curl with fake secret
        run: curl https://lol.petchblog.net?secret=${{ secrets.TEST_SECRET }}
      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: client
      - name: Move files
        run: mv ./client/* .
      - name: Set up Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Build
        run: npm run build

  api:
    name: API
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: api
      - name: Move files
        run: mv ./api/* .
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "17"
      - name: Build
        run: ./gradlew build
